*{
    margin: 0;
    padding: 0;
}

.gradient {
    width:1280px; 
    background:url(../img/bg1.jpg) repeat-x;
    margin: auto;
    position: relative;
    
}
.container {
     margin: 0;
    padding: 0;
    width: 1000px;
    height: 989px;
    border-bottom: 2px solid #000000;
  position: absolute;
    top: 0;
    left: 140px;
    box-shadow: 0 0 5px 3px #0a5b72;

  }
.img1 {
    position: absolute;
   left: 175px;
    top: 12px;
    z-index: 5;
}
.contacts {
     position: absolute;
     font-family: "Tahoma";
    font-size: 12pt;
       color: #128aa7;
    left: 970px;
    top: 5px;
   }
.icon{
      font-family: "Tahoma";
    font-size: 10pt;
       color: #128aa7;
}
.india{
     text-align: center;
    position: absolute;
        top: 110px;
        left: 715px;
     }

.nepal{
     text-align: center;
    position: absolute;
        left: 785px;
    top: 110px;
     }
.tibet{
     text-align: center;
    position: absolute;
        left: 855px;
    top: 110px;
     }
.bhutan{
     text-align: center;
    position: absolute;
        left: 925px;
    top: 110px;
         }
.sri_lanka{
     text-align: center;
    position: absolute;
        left: 985px;
    top: 110px;
         }
.maldives{
    text-align: center;
    position: absolute;
        left: 1055px;
    top: 110px;
         }
.photo{
      position: absolute;
        left: 140px;
    top: 176px;
}
/* меню */
   
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
   
}
ul.menu > li > a {
    display: block;
    padding: 0px 0px 7px 45px;
    color: white;
    text-decoration: none;
    font-family: "Tahoma";
    font-size: 14pt;
    }

ul.menu > li > a span{
    font-size:10px;
    margin-left:3px
}


ul.submenu {
    display: none;
    position: absolute;
    width: 150x;
    top: 100%;
    left: 42px;
    box-shadow: 0 2px 3px 0px #373636;
    border-top: 1px solid #000000;
    
   }
ul.submenu > li {
    display: block;
    
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    font-family: "Tahoma";
    font-size: 14pt;
    color: white;
    background-color: #323232;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: none;
}



ul.menu > li:hover > ul.submenu {
    display: block;
}

#menu2{
     position: absolute;
    width: 1000px;
    height: 30px;
    border-bottom: 2px black;
    top: 413px;
    left: 140px;
    background: #323232;
    border-bottom: 1px solid #000000;
    box-shadow: 0 2px 3px 0px #373636;
    z-index: 25;
        
}

.box1{
      width: 210px;
position: absolute;
    top: 460px;
      color: #424c43; 
    left: 140px;
    padding-left: 10px;
      font-family: "Tahoma";
    font-size: 12pt;
   }
.info {
     padding-left: -10px;
    font-family: "Tahoma";
    font-size: 14pt;
    text-align: center;
    
}
.box2{
        width: 580;
position: absolute;
    top: 460px;
      color: #424c43; 
    left: 350px;
    padding-left: 10px;
      font-family: "Tahoma";
    font-size: 12pt;
   }
.box3{
   width: 210px;
position: absolute;
    top: 460px;
      color: #424c43;  
    left: 930px;
    padding-left: 10px;
      font-family: "Tahoma";
    font-size: 12pt;  
     
   }
.copy{
     width: 1280px;
position: absolute;
    top: 995px;
      color: white;  
    text-align: center;
    font-family: "Tahoma";
    font-size: 10pt;  
}